.RandomQuote{
    /* background-image: url('https://jordanandeddie.files.wordpress.com/2014/05/salinger-feature.jpg'); */
    background-size: cover;
    background-position: top;
    color: #3f3e3e;
    text-align: center;
    padding: 190px 0;
    animation: fadeIn 3.2s ease; /* Define the fadeIn animation */
}

.RandomQuote-content {
    max-width: 850px;
    margin: 0 auto;
    
}

.RandomQuote h1{
    margin-top: -110px;
    font-size: 4rem;
    cursor:default;
    margin-bottom: 70px;
    transition: color 0.3s ease;    
    
}
.RandomQuote h1:hover{
    color: #a83417;
    font-size: 4.1rem;
    font-weight: bold;    
}

.RandomQuote p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    cursor:default;
    transition: color 0.3s ease;    
    &:hover {
        color: #9944d1;
        font-weight: bold;
        font-size: 1.5rem;

    }
}

.cta-button{
    background-color: #f74444;
    color: #fff;
    font-size: 1.2rem;
    padding: 20px 30px;
    border: none;   
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;    
    text-decoration: none;

}
.cta-button:hover {
    background-color: #ff9900;
    color: #3f3e3e;

}



@keyframes fadeIn {
    0% {
      opacity: 0; /* Start with opacity 0 */
    }
    100% {
      opacity: 1; /* End with opacity 1 (fully visible) */
    }
  }