.about-page {
  display: flex;
  justify-content: space-between;
  /* Distribute columns evenly */
  max-width: 1300px;
  /* Adjust as needed */
  margin: 0 auto;
  /* Center the columns horizontally */
  animation: fadeIn 3.2s ease;
  /* Define the fadeIn animation */
}

.column {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text and child elements horizontally */
  justify-content: center;
  margin-top: auto;
  margin-top: -27px;
  
}

.Sadra {
  width: 81%;
  max-width: 100%;
  /* Adjust maximum width as needed */
  max-height: 100%;
  image-rendering: optimizeQuality;
  border-radius: 50%;
  
}


.Sadra h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(83, 73, 73);
  font-size: 34px;
  width: 100%;


}

.Sadra h3 {
  font-size: 28px;

}



.Ali {
  width: 80%;
  max-width: 100%;
  /* Adjust maximum width as needed */
  max-height: 100%;
  image-rendering: optimizeQuality;
  border-radius: 50%;


}

.Ali h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  color: rgb(83, 73, 73);
  font-size: 34px;
  width: 100%;

}

.Ali h3 {
  font-size: 28px;
}

img {
  max-width: 85%;
  max-height: 100%;
  transition: transform 0.3s ease; /* Add a transition for smooth scaling */
  animation: fadeIn 3.2s ease-in;

}

img:hover{
  transform: scale(1.15); /* Scale the image to 1.1 times its original size on hover */
}

.AliSocial , .SadraSocial{ 
  display: flex; /* Add this to make them flex containers */
  justify-content: center; /* Horizontally center their contents */
  align-items: center;
  max-width: 55%;
  max-height: 80%;
  animation: fadeIn 4.6s ease-in;
  
}



h2::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h2:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.Sadra h2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(157, 94%, 56%);
  z-index: -1;
  transition: transform .8s ease;
}

.Ali h2::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(202, 82%, 56%);
  z-index: -1;
  transition: transform .8s ease;
}

h2 {
  position: relative;
  cursor: default;
  animation: fadeIn 2.2s ease;

}

h3::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

h3:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  
}

.Sadra h3::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(157, 94%, 56%);
  z-index: -1;
  transition: transform .8s ease;
}

.Ali h3::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(202, 82%, 56%);
  z-index: -1;
  transition: transform .8s ease;
}

h3 {
  position: relative;
  cursor: default;
  animation: fadeIn 4.2s ease;

}



@keyframes fadeIn {
  0% {
    opacity: 0;
    /* Start with opacity 0 */
  }

  100% {
    opacity: 1;
    /* End with opacity 1 (fully visible) */
  }
}



@media (max-width: 768px) {
  .column {
    padding: 4px;
    /* Adjust padding for smaller screens */
  }

  .Sadra,
  .Ali {
    width: 100%;
    /* Make the images responsive */
    max-width: 100%;
    height: auto;
  }

  .Sadra h2,
  .Ali h2,
  .Sadra h3,
  .Ali h3 {
    font-size: 24px;
    /* Adjust font size for smaller screens */
  }
}