/* header.css */
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Victor+Mono:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

/* Styles for the header */
.header {
    background-color: #b9b7b7;
    color: #0d5497;
    /* Adjust padding for spacing */
    padding: 2% 0;
    text-align: center;
    font-size: 4vw; /* Responsive font size */
    font-weight: bold;
    font-family: 'Victor Mono', monospace;
    width: 80%; /* Adjusted width for medium computers */
    max-width: 1200px; /* Max width for large screens */
    margin: 0 auto;
    height: auto; /* Allow height to adjust naturally */
    word-wrap: break-word;
    /* Additional style to ensure proper alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; /* Include padding in width calculation */
    animation: background-animation 3s ease-in-out infinite alternate, expand-header 1.5s cubic-bezier(0.5, 0, 0.5, 1) forwards;
}

.typing-text {
    display:inline-block;
    overflow:hidden;
    border-right: 0.15em solid #325252;
    white-space: nowrap;
    letter-spacing: 0.15em;
    animation: typing 1.5s steps(40, end), blink-caret 1.2s cubic-bezier(0.5, 1, 1, 1) infinite;
}
.header h1 {
    margin: 0;
    font-weight: bold;
    font-size: 3.5vw; /* Responsive font size */
}

/* Style for the logo */
.logo {
    width: 40px; /* Adjusted width for medium computers */
    height: auto;
    margin-top: 10px;
    /* Adjust margin for spacing */
}

/* Media queries for responsive adjustments */
@media screen and (max-width: 1200px) {
    .header {
        font-size: 3.5vw;
        font-weight: bold;

    }

    .header h1 {
        font-size: 3vw;
    }

    .typing-text {
        font-size: 2.5vw;
    }

    .logo {
        width: 30px;
    }

    .monospace,
    .italic {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        font-size: 5vw;
    }

    .header h1 {
        font-size: 4vw;
    }

    .typing-text {
        font-size: 3vw;
    }

    .logo {
        width: 20px;
    }

    .monospace,
    .italic {
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        font-size: 8vw;
    }

    .header h1 {
        font-size: 6vw;
    }

    .typing-text {
        font-size: 5vw;
    }

    .logo {
        width: 15px;
    }

    .monospace,
    .italic {
        font-size: 8px;
    }
}

/* KeyFrame */

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 25%;
    }
}

@keyframes blink-caret {
    from, 
    to {
        border-color: transparent;
    }
    50% {
        border-color: #325252;
    }
}

@keyframes background-animation {
    from {
        background-color: #8f8d8d;
    }
    to {
        background-color: #c0c0c2b9;
    }
}


@keyframes expand-header {
    0% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}